<div class="dashboard-right-contents mt-4 mt-lg-0">
  <div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
      <div class="single-reservation-flex mb-4">
        <div class="single-reservation-author">
          <div class="single-reservation-author-flex">
            <div class="single-reservation-author-thumb">
              <img src="assets/img/dashboard/author.jpg" alt="img">
            </div>
            <div class="single-reservation-author-contents">
              <h5 class="single-reservation-author-contents-title">{{ user?.username }}</h5>
              <p class="single-reservation-author-contents-para">Member since {{ user?.createdAt | date: 'yyyy' }}</p>
            </div>
          </div>
        </div>
        <div class="btn-wrapper">
          <a [routerLink]="'/adminpanel/profile/update/' + user?.id" class="cmn-btn btn-border">Edit Profile</a>
        </div>
      </div>
      <div class="single-reservation-item">
        <div class="single-reservation-contact">

          <div class="single-reservation-contact-item">
            <a href="mailto:{{ user?.email }}" class="single-reservation-contact-list">
                            <span>
                                <i class="las la-envelope"></i>
                            </span>
              {{ user?.email }}
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="single-reservation bg-white base-padding">
      <div class="single-reservation-flex">
        <div class="single-reservation-author">
          <div class="single-reservation-author-flex">
            <div class="single-reservation-author-contents">
              <h5 class="single-reservation-author-contents-title">Password</h5>
              <p class="single-reservation-author-contents-para">
                Last change {{ user?.lastChangedAt | date: 'MMMM d, y' }}
              </p>
            </div>
          </div>
        </div>
        <div class="btn-wrapper">
          <a [routerLink]="'/dashboard_pass_change/' + user?.id" class="cmn-btn btn-border">Change Password</a>
        </div>
      </div>
    </div>
  </div>
</div>

