<section class="l-area padding-top-100 padding-bottom-100 m-5">
  <div class="container">
    <div class="login-wrapper login-shadow bg-white">
      <div class="login-wrapper-flex">
        <div class="login-wrapper-thumb">
          <img src="assets/img/single-page/login.jpg" alt="img">
        </div>
        <div class="login-wrapper-contents login-padding">
          <h2 class="single-title"> Welcome! </h2>
          <form class="login-wrapper-form custom-form padding-top-20" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="single-input mt-4">
              <label class="label-title mb-3"> User Name </label>
              <input class="form--control" type="text" formControlName="username" placeholder="Type User Name">
            </div>
            <div class="single-input mt-4">
              <label class="label-title mb-3"> Email Address </label>
              <input class="form--control" type="text" formControlName="email" placeholder="Type Email">
            </div>
            <div class="input-flex-item">
              <div class="single-input mt-4">
                <label class="label-title mb-3"> Create Password </label>
                <input class="form--control" type="password" formControlName="password" placeholder="Type Password">
                <div class="icon toggle-password">
                  <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                  <span class="hide-icon"> <i class="las la-eye"></i> </span>
                </div>
              </div>
              <div class="single-input mt-4">
                <label class="label-title mb-3"> Confirm Password </label>
                <input class="form--control" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                <div class="icon toggle-password">
                  <div class="show-icon"> <i class="las la-eye-slash"></i> </div>
                  <span class="hide-icon"> <i class="las la-eye"></i> </span>
                </div>
              </div>
            </div>
            <div class="checkbox-inline mt-4">
              <input class="check-input" type="checkbox" id="check15">
              <label class="checkbox-label" for="check15"> By creating an account, you agree to the <a
                class="color-one" href="javascript:void(0)"> terms of service </a> and <a
                class="color-one" href="javascript:void(0)"> Conditions </a>,
                and <a class="color-one" href="javascript:void(0)"> privacy policy </a> </label>
            </div>
            <button class="submit-btn w-100 mt-4" type="submit"> Sign Up Now </button>
            <span class="account color-light mt-3"> Already have an account? <a class="color-one"
                                                                                [routerLink]="['/signin']"> Login </a> </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
