<div class="breadcrumb-area breadcrumb-padding">
  <div class="container custom-container-one">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-contents">
          <h4 class="breadcrumb-contents-title">Auxiliary Services</h4>
          <ul class="breadcrumb-contents-list list-style-none">
            <li class="breadcrumb-contents-list-item">
              <a href="index.html" class="breadcrumb-contents-list-item-link">
                Home
              </a>
            </li>
            <li class="breadcrumb-contents-list-item">Auxiliary Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-overlay"></div>

<div class="dashboard-area section-bg-2 dashboard-padding">
  <div class="container">


      <div class="dashboard-right-contents mt-4 mt-lg-0">
        <div class="dashboard-promo">
          <div class="row gy-4 justify-content-center">
            <div class="col-xxl-4 col-xl-4 col-sm-4 orders-child">
              <div class="single-order">
                <div class="single-order-flex">
                  <div class="single-order-contents">
                    <span class="single-order-contents-subtitle">
                      Accepted Reservation
                    </span>
                    <h2 class="single-order-contents-title">
                      {{ acceptedReservations }}
                    </h2>
                  </div>
                  <div class="single-order-icon">
                    <i class="las la-check-circle"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-sm-4 orders-child">
              <div class="single-order">
                <div class="single-order-flex">
                  <div class="single-order-contents">
                    <span class="single-order-contents-subtitle">
                      All Reservations
                    </span>
                    <h2 class="single-order-contents-title">
                      {{ totalReservations }}
                    </h2>
                  </div>
                  <div class="single-order-icon">
                    <i class="las la-times-circle"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-sm-4 orders-child">
              <div class="single-order">
                <div class="single-order-flex">
                  <div class="single-order-contents">
                    <span class="single-order-contents-subtitle">
                      Completed Reservation
                    </span>
                    <h2 class="single-order-contents-title">
                      {{ completedReservations }}
                    </h2>
                  </div>
                  <div class="single-order-icon">
                    <i class="las la-clipboard-check"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-reservation">
              <div
                class="single-reservation bg-white base-padding"
                *ngFor="let reservation of serviceReservations"
              >
                <div class="single-reservation-expandIcon">
                  <i class="las la-angle-down"></i>
                </div>
                <div class="single-reservation-head">
                  <div class="single-reservation-flex">
                    <div class="single-reservation-content">
                      <h5 class="single-reservation-content-title">
                        Reservation ID
                      </h5>
                      <span class="single-reservation-content-id">
                        {{ reservation.label }}
                      </span>
                    </div>
                    <div
                      class="single-reservation-label"
                      [ngClass]="
                        getServiceTypeLabelClass(
                          reservation.auxiliaryService.serviceType
                        )
                      "
                    >
                      {{ reservation.auxiliaryService.serviceType }}
                    </div>
                  </div>
                </div>

                <div class="single-reservation-inner">
                  <div class="single-reservation-item">
                    <div class="single-reservation-name">
                      <h5 class="single-reservation-name-title">
                        Service Label:
                      </h5>
                      <p class="single-reservation-name-para">
                        {{ reservation.auxiliaryService.label }}
                      </p>
                    </div>
                  </div>
                  <div class="single-reservation-item">
                    <div class="single-reservation-details">
                      <div class="single-reservation-details-item">
                        <span class="single-reservation-details-subtitle">
                          Booked:
                        </span>
                        <h5 class="single-reservation-details-title">
                          {{ reservation.serviceDate }}
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="single-reservation-item">
                    <div class="single-reservation-flex">
                      <div class="single-reservation-content">
                        <h5 class="single-reservation-content-title">Cost</h5>
                        <span class="single-reservation-content-price">
                          {{ reservation.auxiliaryService.price }} DT
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="single-reservation-item">
                    <div class="single-reservation-flex">
                      <div class="single-reservation-name">
                        <h5 class="single-reservation-name-title">
                          Special Preferences
                        </h5>
                        <p class="single-reservation-name-para">
                          {{ reservation.specialPreferences }}
                        </p>
                      </div>
                      <div class="single-reservation-btn">
                        <button
                          (click)="
                            deleteReservation(reservation.idService_Reservation)
                          "
                          class="dash-btn popup-click"
                        >
                          <i class="las la-exclamation-circle"></i> Cancel?
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>
