<div class="dashboard-right-contents mt-4 mt-lg-0">
  <div class="dashboard-reservation">
    <div class="single-reservation bg-white base-padding">
      <div class="single-reservation-author">
        <div class="single-reservation-author-flex">
          <div class="single-reservation-author-contents">
              <h3 class="single-reservation-title">Add Servicde Reservation</h3>

            <div class="custom--from">
              <form [formGroup]="reservationForm" (ngSubmit)="submitReservation()">
                  <!-- Label -->
                <div class="popup-contents-select">
                  <label class="popup-contents-select-label"> Label :</label>
                  <div class="single-input">
                    <input type="text" name="name" class="form-control" formControlName="label" id="label"  placeholder="Enter Name...">
                  </div>
                </div>
                <span class="text-danger error-msg error-msg" *ngIf="
                reservationForm.get('label').hasError('required') &&
                reservationForm.get('label').touched
              ">
              Label is required.
            </span>
                <!-- Service Date -->
                <div class="popup-contents-select">
                  <label class="popup-contents-select-label"> Service Date : </label>
                  <div class="single-input">
                      <input type="date" id="serviceDate" formControlName="serviceDate" id="serviceDate" cols="30" rows="1" placeholder="Enter quantity..."  required >
                    </div>
                </div>
                <span class="text-danger error-msg error-msg" *ngIf="
                reservationForm
                  .get('serviceDate')
                  .hasError('required') &&
                reservationForm.get('serviceDate').touched
              ">
              Service Date is required.
            </span>
            <span class="text-danger error-msg error-msg" *ngIf="
                reservationForm
                  .get('serviceDate')
                  .hasError('dateInvalid') &&
                reservationForm.get('serviceDate').touched
              ">
              Service Date must be greater than the current date.
            </span>
                <!-- Special Preferences -->
                <div class="popup-contents-select">
                  <label class="popup-contents-select-label"> Special Preferences :</label>
                  <div class="single-input">
                      <textarea name="message"class="form-control"   cols="30" rows="6"
                      placeholder="Write Details..." id="specialPreferences"
                      formControlName="specialPreferences"></textarea>
                  </div>
                </div>


                <div class="dashboard-flex-input">
                  <div class="dashboard-input mt-4">
                    <label for="auxiliaryService" class="label-title">Auxiliary Service:</label>
                    <select id="auxiliaryService" formControlName="auxiliaryService" required>
                      <option *ngFor="let service of auxiliaryServices" [ngValue]="service">
                        {{ service.label }}
                      </option>
                    </select>
                    <span *ngIf="
                        reservationForm
                          .get('auxiliaryService')
                          .hasError('required') &&
                        reservationForm.get('auxiliaryService').touched
                      ">
                      Auxiliary Service is required.
                    </span>
                  </div>*
                </div>

                <!-- Save Button -->
                <div class="btn-wrapper flex-btn mt-3">
                  <button type="submit" [disabled]="!reservationForm.valid" class="dash-btn btn-bg-1">
                      Submit Reservation
                    </button>           <div class="single-reservation-btn">
                      <a routerLink="/services/listReservations" class="dash-btn popup-click"> Cancel? </a>
                  </div>         </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
