<div class="dashboard-right-contents mt-4 mt-lg-0">
    <div class="dashboard-reservation">
        <div class="row">
            <div style="margin-bottom: 6px;" class="btn-wrapper">
                <a routerLink="/adminpanel/staff/addstaff" class="cmn-btn btn-bg-1 btn-small"> Add a
                    Staff </a>
            </div>
            <ng-container *ngFor="let s of listStaf">
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <div class="single-reservation bg-white base-padding">
                        <div class="single-reservation-flex">
                            <div class="single-reservation-author">
                                <div class="single-reservation-author-flex">
                                    <div class="single-reservation-author-contents">
                                        <h5 class="single-reservation-author-contents-title">{{s.firstName}} {{s.lastName}}</h5>
                                    </div>
                                </div>
                            </div>
                            <span class="single-reservation-author-active">
                              {{s.hireDate | date}}
                            </span>
                        </div>
                        <div class="single-reservation-author-footer">
                            <p class="single-reservation-author-para">
                                Email: {{s.email}} 
                            </p>
                            <p >
                                 Phone: {{s.phone}}
                            </p>
                            <div class="single-reservation-author-footer-bottom">
                                <div class="single-reservation-flex">
                                    <div class="single-reservation-tags">
                                        <div class="single-reservation-tags-list">
                                            <a href="javascript:void(0)" class="single-reservation-tags-item luggage">
                                                {{s.role}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper flex-btn mt-3">
                                <button class="btn btn-warning " [routerLink]="['/adminpanel/staff/addtask', s.idStaff]">Add Tasks</button>
                                <button class="btn btn-primary " [routerLink]="['/adminpanel/staff/listTasks', s.idStaff]">View Tasks</button>
                                <button class="btn btn-danger " (click)="deleteStaff(s.idStaff)"  >Delete</button>
                              </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
