<div class="dashboard-right-contents mt-4 mt-lg-0">
    <div class="dashboard-reservation">
      <div class="single-reservation bg-white base-padding">
        <div class="single-reservation-author">
          <div class="single-reservation-author-flex">
            <div class="single-reservation-author-contents">
              <h2 >Add task</h2>
              <div class="custom--from">
                <form *ngIf="taskform" [formGroup]="taskform" (ngSubmit)="onSubmit()" >
                   
                    <div class="popup-contents-select">
                        <label class="popup-contents-select-label"> Label :</label>
                        <div class="single-input">
                          <textarea type="text" name="label" class="form-control" formControlName="label" id="label" cols="30" rows="1" placeholder="Enter label ..."></textarea>
                        </div>
                    </div>
                    <div class="popup-contents-select">
                        <label class="popup-contents-select-label"> Date :</label>
                        <div class="single-input">
                            <input type="date" id="date" name="date"   class="form-control" formControlName="date"   />
                        </div>
                    </div>
                    <div class="popup-contents-select">
                        <label class="popup-contents-select-label"> ToDo :</label>
                        <div class="single-input">
                          <textarea  class="form--control form--message" name="toDo" class="form-control" formControlName="toDo" id="toDo" cols="30" rows="5" placeholder="Enter label ..."></textarea>
                        </div>
                    </div>
                    <div class="popup-contents-select">
                        <label class="popup-contents-select-label"> startTime :</label>
                        <small>Office hours are 9am to 6pm</small>
                        <div class="single-input">
                            <input  type="time" id="startTime" class="form-control" formControlName="startTime" name="startTime" min="09:00" max="18:00" required />                            
                        </div>
                    </div>
                    <div class="popup-contents-select">
                        <label class="popup-contents-select-label"> endTime :</label>
                        <small>Office hours are 9am to 6pm</small>
                        <div class="single-input">
                            <input type="time" id="endTime" class="form-control" formControlName="endTime" name="endTime" min="09:00" max="18:00" required />                            
                        </div>
                    </div>
                    
                    
                     <!-- Save Button -->
                  <div class="btn-wrapper flex-btn mt-3">
                    <button type="submit"   [disabled]="taskform.invalid" class="dash-btn btn-bg-1" >Save</button>
                  </div>
                    
                    
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>